@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
    font-family: 'Oswald';
    background-color: #f2f2f2;
    padding: 20px;
  }




  label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 120%;
    cursor: pointer;
    font-family: 'Oswald';
    font-weight: 800;
  }


  button:hover {
    background-color: #103011;
  }


  select {
    font-family: 'Anton';
    border-radius: 2%;
    font-size: 106%;
    background-color: rgb(56, 196, 56);
    cursor: grab;
    width: 80%;
  }

  .caixa {
    display: flex;
    flex-direction: column;

  }


  .caixa_enorme {
    display: flex;
    justify-content: center;
  }
