@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
    font-family: 'Oswald';
    background-color: #f2f2f2;
    padding: 20px;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }


  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 140%;
    cursor: pointer;
    font-family: 'Oswald';
    font-weight: 800;
  }


  input[type="submit"]:hover {
    background-color: #45a049;
  }


  select {
    font-family: 'Anton';
    border-radius: 2%;
    font-size: larger;
    background-color: rgb(56, 196, 56);
    cursor: grab;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 10%;
  }