@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: 'Oswald';
    background-image: url(../assets/fundo-login);
}
form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(103, 185, 109);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 90%;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}