@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  background-color: #E4E3E2;
  background-repeat: no-repeat;
  background-image: url(../assets/tela-fundo.png);
  background-size: cover;
  padding: 1% 2%;
}

* {
  padding: 0;
  margin: 0;
}

.img-logo {
  width: 10%;
  margin: 10px;
}

.container {
  display: flex;
  width: 100%;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  font-size: 150%;
  font-family: 'Oswald';
  font-weight: 700;
  display: flex;
  justify-content: end;
  width: 80%;
  list-style: none;
  align-items: center;
  gap: 8%;
}

ul li a {
  text-decoration: none;
  color: black;
}

.titulo {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 190%;
  color: #353332;
}

.titulo p {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 60%;
  color: #353332;
}
