@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-image: url(../assets/tela-fundo.png);
  background-size: 100vw;

}

* {
  scrollbar-width: thin;
  scrollbar-color: #e228d8 #070d12;
}


*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #292325;
}

*::-webkit-scrollbar-thumb {
  background-color: #e228d8;
  border-radius: 20px;
  border: 3px solid #070d12;
}

* {
  padding: 0;
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  background-color: #ff007f;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #74284e;
}


.efeito-botao:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.efeito-botao:hover:before {
  opacity: 1;
}

.img-logo {
  width: 10%;
  margin: 10px;
  border-radius: 4%;
  border: 1px gray solid;
}

.img-logo:hover {
  border: 3px black solid;
}

.container {
  display: flex;
  width: 90%;
  padding: 2% 2% 2%;
  border: #9c9796;
  padding-left: 4%;
}


.navbar {
  font-size: 150%;
  font-family: 'Oswald';
  font-weight: 700;
  display: flex;
  justify-content: end;
  width: 80%;
  list-style: none;
  align-items: center;
  gap: 8%;
}

main {
  background-color: #E4E3E2;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  text-decoration: underline;
}

.titulo {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 300%;
  padding-top: 10%;
  color: #353332;
  padding-left: 5%;
}

.titulo p {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 80%;
  color: #353332;
}

#home {
  padding-left: 1%;
  font-family: 'Oswald';
  font-size: 120%;
  font-weight: 600;
  height: 300px;
  padding-top: 2%;
  padding-bottom: 6%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}


section img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    border: gray 1px solid;
}

.texto-tabua {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.texto-tabua p {
  text-align: justify;
  font-size: larger;
  align-items: center;
  font-weight: 600;
}

.titulo-melhores {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 250%;
  display: flex;
  justify-content: center;
  color: #353332;
  padding-bottom: 4%;
}

.span-esmeralda {
  color: #722f37;
  font-weight: 800;
}

.span-revolucionnarios {
  color: #000000;
  font-weight: 800;
}



.span-sobrevivendo {
  color: #f40000;
  font-weight: 800;
}

.caixa-albuns {
  padding-left: 4%;
  padding-right: 4%;
  font-family: 'Oswald';
  border: gray 1px solid;
  padding-top: 2%;
  padding-bottom: 2%;
}

.span-chorare {
  color: #229a00;
  font-weight: 800;
}

.span-afro {
  color: #ff4000;
  font-weight: 800;
}

.span-pedacos {
  color:  #2d2419;
  font-weight: 800;
}

.span-chico-banca {
  color: #2f4f4f;
  font-weight: 800;
}

.titulo-albuns {
  font-family: 'Anton';
  font-size: 200%;
  text-align: center;
  padding-top: 10%;
  padding-right: 80%;
}

.container-albuns {
  font-family: 'Oswald';
  font-size: 120%;
  display: flex;
  flex-direction: row;
  gap: 4%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.container-albuns div { 
  padding-bottom: 2%;
}



footer {
  background-color: #f8f8ff;
  width: 100%;
  height: 70vh;
  margin: 4%;
}


.caixa-footer {
  display: flex;
  justify-content: space-between;
}

.caixa-footer img {
    width: auto;
    height: auto;
    border: gray 1px solid;
}

footer h3 {
  font-family: 'Anton';
  font-weight: 100;
  font-size: 250%;
  color: #353332;
}

.spotify-caixa {
  position: absolute;
  padding-left: 50%;
  font-family: 'Oswald';
  font-size: 25px;
}


.spotify-img {
  width: 320px;
  height: 80px;
}

#teste-conhecimento {
  padding-top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.conhecimento {
  font-family: 'Oswald';
  font-size: 140%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.conhecimento span {
  color: #ff007f;
  font-weight: 800;
}

.conhecimento input {
  width: 10%;
}

.mensagem-conhecimento {
  display: flex;
  justify-content: center;
  font-family: 'Oswald';
  font-size: 180%;
  font-weight: 900;
  padding-top: 10px;
  color: #353332;
}

.mensagem-conhecimento b {
  color: #ff007f;
  padding-left: 8px;
  padding-right: 8px;
}

.caixa-enorme-sorteio {
  display: flex;
  justify-content: center;
}

.caixa-sorteio {
  font-family: 'Oswald';
  font-size: 140%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.caixa-sorteio input {
  width: 40%;
}

.caixa-sorteio button {
  width: 50%;
}

.caixa-exibicao {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1%;
  padding-top: 4%;
}

#divImagem {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

#divImagem img {
  width: 200vw;
  height: 300vh;
}

#divResposta {
  font-family: 'Anton';
  display: flex;
  justify-content: center;
  color: green;
  gap: 10px;
  font-size: 50px;
}

#divResposta p {
  font-family: 'Anton';
  color: green;
  font-size: 25px;
}

#divResposta img {
  border: none;
}


.ritalee {
  color: #ff007f;
  font-family: 'Oswald';
  font-weight: 700;
}



